.lastp{
    font-size: 13px;
    color: #a5a5a5 ;
}

.newsletter{
    display: flex;
    justify-content:center;
    width: 100%;
    margin: 0;
}
.email{
    width: 30%;
    margin-right: 2rem;
}

#submit2{
    width: 15%;
    height: 5vh;
    background-color: #4d4cfb;
    color: white;
}

@media only screen and (max-width: 534px) {
    #submit2{
        width: 20%;
    }
    .p1{
        font-size: 15px;
    }
}

@media only screen and (max-width: 435px) {
    #submit2{
        width: 25%;
    }
    .email{
        margin-right: 1rem;
    }
    .p1{
        font-size: 12px;
    }
    .lastp{
        font-size: 10px;
    }
}

@media only screen and (max-width: 328px) {
    #submit2{
        width: 30%;
    }
    .email{
        margin-right: 1rem;
    }
    .p1{
        font-size: 11px;
        text-align: center;
    }
    h2{
        font-size: 20px;
    }
}