
@media only screen and (max-width: 593px) {
    .logo{
        width: 120%;
    }
}

@media only screen and (max-width: 480px) {
    .logo{
        width: 130%;
    }
}

@media only screen and (max-width: 335px) {
    .logo{
        width: 150%;
    }
}

@media only screen and (max-width: 280px) {
    .logo{
        width: 180%;
    }
}