<div class="container-fluid">
    <div class="row d-flex everything">
        <div class="col mt-5 beyourself">
            <div class="generaltext">
                <h1 class="display-5">Be Yourself <br> Be Free, Be You! </h1>
                <p class="p1 text-left text-wrap mt-5 w-75">
                    myPaddi app gives young people access to 
                    much needed sexual and reproductive health
                    informartion and products while ensuring 
                    complete anonymity.
                </p>
            </div>
            <div class="AppStores mt-5">
                <img class="googleplay" src="assets\png\Bitmap_2.png" alt="GooglePlay Logo">
                <img class="appstore" src="assets\png\Bitmap.png" alt="App Store logo">
            </div>
        </div>
        <div class="col">
            <div class="pr-5 pb-5 pb-0 pl-0 mr-5 group">
                <img class="img-fluid  w-150" src="assets\png\Group 3489@2x.png" alt="Group">
            </div>
        </div>
    </div>
</div>


