<div class="container-fluid">
    <div class="row">
        <div class="col mr-0 mb-0 ml-0 m-5">
            <div class="">
                <div style="width: 38rem;">
                    <h1 class="display-5">Be Yourself </h1>
                    <h1 class="display-5">Be Free, Be You!</h1>
                </div>
                <div class="text-left text-wrap" style="width: 25rem;">
                    <p class="p1">
                    myPaddi app gives young people access to 
                    much needed sexual and reproductive health
                    informartion and products while ensuring 
                    complete anonymity.
                    </p>
                </div>
                <div class="AppStores">
                    <img class="googlePlay"
                        src="assets\png\Bitmap_2.png"
                        alt="GooglePlay Logo">
                    <img class="appStore"
                        src="assets\png\Bitmap.png"
                        alt="App Store logo">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="pr-5 pb-5 pb-0 pl-0 mr-5">
                <img class="img-fluid"
                src="assets\png\Group 3489@2x.png"
                alt="Group">
            </div>
        </div>
    </div>
</div>


