@media only screen and (max-width: 480px) {
    .navbar{
        display: flex;
    }
    .navi{
        flex-direction: row;
    }
}

@media only screen and (max-width: 540px) {
    .navbar{
        display: flex;
    }
    .navi{
        flex-direction: row;
    }
}

@media only screen and (max-width: 720px) {
    .navbar{
        display: flex;
    }
    .navi{
        flex-direction: row;
    }
}

@media only screen and (max-width: 960px) {
    .navbar{
        display: flex;
    }
    .navi{
        flex-direction: row;
    }
}