<nav class="navbar navbar-expand">
    <a class="navbar-brand d-flex justify-content-start logo" href="#"><img
            src="assets\png\Mypaddi logo.png"
            alt="Mypaddi logo"></a>
    <ul class="navbar-nav d-flex justify-content-end navi">
        <li class="nav-item item2">
            <a class="btn nav-link" id="login" role="button" href="#login" routerLink="/login">LOG IN</a>
        </li>
        <li class="nav-item item1">
            <a class="btn nav-link" id="signup" role="button" href="#signup" routerLink="/signup">SIGN UP</a>
        </li>
    </ul>
</nav>
