<nav class="navbar navbar-expand-lg d-flex justify-content-between gap-3">
    <a class="navbar-brand" href="#"><img
            src="assets\png\Mypaddi logo.png"
            alt="Mypaddi logo"></a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="btn nav-link" id="login" role="button" href="pages/login.html">LOG IN</a>
        </li>
        <li class="nav-item">
            <a class="btn nav-link" id="signup" role="button" href="pages/signup.html">SIGN UP</a>
        </li>
    </ul>
</nav>
